.skeleton{
    height: 80vh;
    width: 20vw;
    min-width: 300px;
    min-height: 900px;
    max-width: 600px;
    max-height: 1800px;
    background-color: #1b263b; 
    /* for footer #0d1b2a */

    /*center the div tag */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}